<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="">

    <head>
        <meta charset="utf-8">
        <title>Pirátský Pupík</title>
        <meta name="robots" content="noindex,nofollow" />
        <meta name="description" content="Proof of concept vyhledávače v pirátském ekosystému">
        <link href="assets/main.css" rel="stylesheet">

        <!-- VUE development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    </head>

    <body>

    <div id='content' class='content'>
    
        <div class='searchbox-area'>
        
            <div class='search-title'>
                <span class='search-title-logo'><img src='assets/logo.svg' class='search-title-logo-image'></span>
                <span class='search-title-name'>PUPÍK</span>
            </div>
            
            <div class='search-row'>
                <form  v-on:submit.prevent="search">
                    <span class='search-phrase'>
                        <input v-focus v-model="query" v-on:keyup.enter="search" placeholder="co hledáš u Pirátů?" />
                    </span>
                    
                    <span class='search-button'>
                        <button>Vyhledat</button>
                    </span>
                </form>
            </div>
            
            <div class='filter-row'>
                <span class='filter-checkbox' v-for="source in sources">
                    <label v-bind:for="source.id">
                        <input type="checkbox" v-model="source.checked" v-bind:id="source.id" v-bind:class="{ filter_checked: source.checked }">
                        <span v-bind:class="{ filter_checked: source.checked }" >{{ source.displayed }}</span>
                    </label>
                </span>
            </div>

        </div>
    
        <div class='results-area' :class="{ hidden: hasNoResults }" >

            <div class='results-count'>
                Nalezeno {{resultsCount}} výsledků<br>
                <i>ProofOfConcept: z výkonostních důvodů omezeno na {{limit}} výsledků</i>
            </div>

            <search-results
              v-for="result in results"
              :key="result._source.id"
              :source="result._source"
            ></search-results>
                    
        </div>

    </div>
    
    <div class='footer'>
        Vyhledávání napříč Pirátským ekosystémem. Ve stadiu Proof Of Concept<br>
        Vyhledává v příspěvcích z fóra, podáních na Redmine, žádostech v Piroplácení a schůzkách v Evidenci lobokontaktů.<br>
        Dále v deskriptorech článků na Pirátských listech (od ledna 2020)<br>
        Licence: CC BY-SA | <a href='https://gitlab.com/Jarmil/pupik'>Zdrojový kód</a> | Připomínky na <a href='mailto:jarmil.halamicek@seznam.cz'>jarmil.halamicek@seznam.cz</a>
        <img src='assets/cc-by-sa.png' class='license-image'>
    </div>
        
  </body>

  <script>
  
    // pro presunuti focusu na prvek s touto direktivou
    Vue.directive('focus', {
      inserted: function (el) {
        el.focus()
      }
    });
        
    // vysledky hledani
    Vue.component('search-results', {
            props: ['source'],
            template: '<div class="result">' + 
                    '<div class="result-title">{{ source.title }}</div>' + 
                    '<div class="result-link"><a :href="source.url">{{ source.url }}</a></div>' +
                    '<div class="result-snipplet"><span class="result-date">{{source.date}}</span> {{ source.snipplet }}</div>' +
                '</div>'
    });

    var vm = new Vue({

        el: '#content',
        data: {
            name: 'Vue.js',
            resultsCount: 0,
            hasNoResults: true,
            limit: 200,              // na kolik vysledku je limitovan dotaz
            response: [],
            results: [],
            sources: [
                {
                    "id": 1,
                    "name": "forum",
                    "displayed": "Fórum",
                    "checked": true
                },
                {
                    "id": 2,
                    "name": "redmine",
                    "displayed": "Redmine",
                    "checked": true
                },
                {
                    "id": 3,
                    "name": "proplaceni",
                    "displayed": "Proplácení",
                    "checked": true
                },
                {
                    "id": 4,
                    "name": "evidence",
                    "displayed": "Evidence schůzek",
                    "checked": true
                },
                {
                    "id": 5,
                    "name": "piratskelisty",
                    "displayed": "Pirátské listy",
                    "checked": true
                },
            ],
            errors: [],
            query: null,                    
        },
        computed: {
          url() {
              return 'http://vps1.pir-test.eu:9200/article/_search'
              //return 'http://localhost:9200/article/_search'
          }  
        },
        methods: {
            search: function (event) {

                if(this.query) { 

                    var queryData = {
                            "size" : this.limit,
                            "query" : {
                                "bool": {
                                  "must" : [
                                    { "match": { "fulltext" : this.query }},
                                    { "bool":  { "should": [] }}
                                  ]
                                }
                            }
                        };

                    // napln filtr vybranymi zdroji (v ES ulozeny v poli "source")
                    for (s in vm.sources) {
                        if(vm.sources[s]["checked"]) {
                            queryData["query"]["bool"]["must"][1]["bool"]["should"].push({ "term" : { "source" : vm.sources[s]["name"] }});
                        }
                    }; 

                    try {
                    
                        // HACK: ES dle doc vyzaduje GET request , ale implementace JS to neumoznuje    
                        // Nastesti POST na ES funguje stejne jako GET 
                        // https://stackoverflow.com/questions/36939748/elasticsearch-get-request-with-request-body
                        fetch(this.url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(queryData), // body data type must match "Content-Type" header
                        })
                          .then(response => {
                            return response.json()
                          })
                          .then(data => {
                            this.response = data;
                            this.results = data["hits"]["hits"];
                            this.resultsCount = data["hits"]["total"].value;
                            this.hasNoResults = false;
                          })
                    } catch (e) {
                        this.errors.push(e)
                    }
                }
            }
        }
      })

  </script>
</html>